<section style="background-image: url(https://thumbs.dreamstime.com/b/fond-blanc-de-texture-brique-mur-briques-roche-grise-papier-peint-grunge-int%C3%A9rieur-contexte-plancher-ou-ma%C3%A7onnerie-vieille-%C3%A0-la-148190170.jpg);">
    <section class="explore ">
        <div class="explore-content ">
            <h1> IDYLICC</h1>
        </div>
    </section>
    <section>
        <div class="container-fluid rounded">
            <div class="row px-5">
                <div class="col-sm-6">

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUbiMAXmMq9P1GwBumBM9AGCUgPVcqyyPMW8mRCKvtRoWits2QsouP40GnglhDh4Bz59Q&usqp=CAU">

                </div>
                <div class="col-sm-6 pad">
                    <form class="rounded msg-form">
                        <div class="form-group"> <label for="name" class="h6">Purpose of IDYLLIC</label>
                            <p> Improvement of income and new sources of revenue for local communities (e.g., increase in the tax base, income for landowners, and land-based activities). Cheap energy (reliable and low-cost energy generation can trigger economic
                                development).
                            </p>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <section>
            <div class="wrapper">
                <div class="overlay">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-9">
                            <div class="contact-us text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mt-5 text-center px-3">
                                            <div class="d-flex flex-row align-items-center"> <span class="icons"><i class="fa fa-map-marker"></i></span>
                                                <div class="address text-left">
                                                    <h5>why you have to choose our product</h5>IDYLLIC is based on principles of solidarity and participation and that produce goods and services while pursuing both economic and social aims.This project will
                                                    help customers purchase cheaper products. and farmers sell their goods directly.
                                                    <p> IDYLLIC is based on principles of solidarity and participation and that produce goods and services while pursuing both economic and social aims.This project will help customers purchase cheaper products.
                                                        and farmers sell their goods directly.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center px-1">
                                            <div class="forms p-4 py-5 bg-white">
                                                <img src="https://media.istockphoto.com/vectors/set-of-vector-icons-of-common-allergens-sugar-free-and-vegan-labels-vector-id1313465899?b=1&k=20&m=1313465899&s=170667a&w=0&h=aZZSPl35k_jpG7Ulz1Jxi8yavZkoy-sAdZhTFpkUTho=">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid rounded">
                <div class="row px-5">
                    <div class="col-sm-6">

                        <img src="https://grist.org/wp-content/uploads/2015/11/organic.jpg">

                    </div>
                    <div class="col-sm-6 pad">
                        <form class="rounded msg-form">
                            <div class="form-group"> <label for="name" class="h6">Why organic products are important for our health</label>
                                <p>Organic for Health. Studies show that organically grown food has higher amounts of Vitamin C, magnesium, phosphorous, and iron – all nutrients vital for healthy functioning of our bodies. Organic fruits and vegetables are
                                    high in nutrients and antioxidants, which provide energy and keep you looking young.
                                </p>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="wrapper">
                <div class="overlay">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-9">
                            <div class="contact-us text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mt-5 text-center px-3">
                                            <div class="d-flex flex-row align-items-center"> <span class="icons"><i class="fa fa-map-marker"></i></span>
                                                <div class="address text-left">
                                                    <h5>why you have to choose our product</h5>
                                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste amet quas veritatis corporis. Similique nesciunt ipsum voluptatum, sit modi eveniet vel, nihil, magni error et delectus neque consectetur
                                                        aut eos?</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center px-1">

                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIh2cnlIjSq1_Thh1ieyCeBpAQsHq7MKmKbW3C3VCphhV46ZKzWMgvPlcVYXGEsKGr_Fk&usqp=CAU">



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container d-flex justify-content-center mt-100">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img">
                                <a data-abc="true"> <img src="https://thumbs.dreamstime.com/b/bio-product-design-logo-leaf-white-background-eps-171372976.jpg" alt=""> </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img">
                                <a data-abc="true"> <img src="https://thumbs.dreamstime.com/b/green-vector-icon-eco-symbol-natural-product-sign-leaf-162311583.jpg" alt=""> </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img" height="121" weight="101">
                                <a data-abc="true"> <img src="https://st3.depositphotos.com/1588812/17175/v/450/depositphotos_171756990-stock-illustration-natural-product-logo.jpg" alt=""> </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img">
                                <a href="#" data-abc="true"> <img src="https://st2.depositphotos.com/1413332/10316/v/950/depositphotos_103168324-stock-illustration-organic-product-logo-design-idea.jpg" alt=""> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>