<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                        <img src="https://3.imimg.com/data3/OI/KU/GLADMIN-140994/organic-food-grains-500x500.jpg">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" [formGroup]="form">



                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="email" class="form-control form-control-user" placeholder="email">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" formControlName="password" class="form-control form-control-user" id="Password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="group-input">

                                    <label for="password"></label>
                                    <input type="file" (change)="handleFileInput($event)" name="photo" class="form control fromControlUser" id="EXAMPLErepaeatpassword" placeholder="file"> </div>
                                <a class=" btn btn-primary btn-user btn-block" (click)="onSubmit()">
                                    Register Account
                                    </a>
                                <hr>
                            </form>


                            <div class="text-center ">
                                <a class="small" routerLink="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>