<nav class="navbar">
    <!-- LOGO -->
    <a routerLink="/login" class="ctn">Login</a>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li>
                <a routerLink="/home">Home</a></li>
            <li>
                <a routerLink="/addproduct">Add products</a>
            </li>
            <li class="services ">
                <a routerLink="/listproducts">List products</a>
            </li>
            <li class="services ">
                <a routerLink="/Pricing">Pricing</a>
            </li>
            <li class="services ">
                <a routerLink="/contact">Contact</a>
            </li>

            <li>
                <a href="/blog">Blog</a>
            </li>
        </div>
    </ul>
</nav>