<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<body>
    <div id="container">
        <div id="pricecontainer">
            <p id="txt1">Choose Your Plan</p>
            <div id="part1" class="parts">
                <p class="title">STARTER</p>
                <hr class="hrline">
                <p class="user">-10sold</p>
                <p class="info"> you can sell your product for the first month for free</p>
                <p class="price">3%/per item</p>
                <button class="buy">Continue <i class="fas fa-arrow-circle-right fa-xs"></i></button>
            </div>
            <div id="part2" class="parts">
                <p class="title">medium</p>
                <hr class="hrline">
                <p class="user">+30sold </p>
                <p class="info">you can sell with only 5% commission </p>
                <p class="price"> 5%/per item</p>
                <button class="buy">Continue <i class="fas fa-arrow-circle-right fa-xs"></i></button>
            </div>
            <div id="part3" class="parts">
                <p class="title">PREMIUM</p>
                <hr class="hrline">
                <p class="user">+50sold</p>
                <p class="info">you can sell with only 7% of commission</p>
                <p class="price">7%/per item</p>
                <button class="buy">Continue <i class="fas fa-arrow-circle-right fa-xs"></i></button>
            </div>
        </div>
    </div>
</body>