<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">

                    <p>This is a portfolio project for the Holberton school is created by Eya Zidi.The purpose of this web application is to foster the social economy and encourage producers to sell directly to consumers to make products more affordable.
                        the project was inspired from Ebay as ecommerce website that facilitates consumer-to-consumer and business-to-consumer sales through its website .</p>
                    <!-- Rights-->
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>Mourouj 2</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd>
                        <a href="mailto:#">zidiya78@gmail.com</a>
                    </dd>
                </dl>

            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li>
                        <a routerLink="listproducts"> List products</a>
                    </li>
                    <li>
                        <a routerLink="addproduct">add product</a>
                    </li>
                    <li>
                        <a routerlink="blog">Blog</a></li>
                    <li>
                        <a routerLink="contact">Contacts</a></li>
                    <li>
                        <a routerLink="Pricing">Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" row no-gutters social-container ">
        <div class="col "><a class="social-inner " href="# "><span class="icon mdi mdi-facebook "></span><span>Facebook</span></a>
        </div>
        <div class="col "><a class="social-inner " href="# "><span class="icon mdi mdi-instagram "></span><span>instagram</span></a></div>
        <div class="col "><a class="social-inner " href="# "><span class="icon mdi mdi-twitter "></span><span>twitter</span></a></div>
        <div class="col "><a class="social-inner " href="# "><span class="icon mdi mdi-youtube-play "></span><span>google</span></a></div>
    </div>
</footer>